body
{
    color: rgb(34, 34, 34);
    text-align: left;
    font-family: "arial";
}

#cabecera
{

    background: rgb(73, 73, 255) ;
    color: whitesmoke;
    margin: 0;
    padding: 0.5em;
}

{
    background: url ("../imagenes/shaco.jpg") 10px 10px;
    box-shadow: 0px 2px 20px 0px black rgba(0.0.0.0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 7em;

}

{
    padding: 0 0 0 1em;
    font-wright: normal;
    font size 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}